

<div class="container">
  <form>
  <div class="row">
    <div class="col-25">
      <h1>
          <label >Enter role name</label></h1>
    </div>
    <div class="col-75">
        <input required type="text" [(ngModel)]="data.name" id="name" name="name" placeholder="Role*"  disabled="true"/>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Close</button>
            <button mat-button (click)="edit()" >Edit</button>

          </mat-dialog-actions>
      </div>
  </div>
  </form>
</div>

