

  <div class="container">
    <h1>Person form </h1>
    
    <form>
      <div class="form-control">

        <label for="name">PersonId :</label>
        <mat-form-field>
          <input matInput id="id" [(ngModel)]="person.id" name = "id">
        </mat-form-field>

        <label for="name">Last Name :</label>
        <mat-form-field>
          <input matInput id="LastName" [(ngModel)]="person.lastName" name = "lastname">
        </mat-form-field>

        <label for="name">First Name :</label>
        <mat-form-field>
          <input matInput id="FirstName" id="firstname" [(ngModel)]="person.firstName" name = "firstname">
        </mat-form-field>

        <label for="name">Address :</label>
        <mat-form-field>
          <input matInput id="Address"id="address" [(ngModel)]="person.address" name = "address">
        </mat-form-field>

        <label for="name">City</label>
        <mat-form-field>
          <input matInput id="Address" id="City" [(ngModel)]="person.city" name = "city">
        </mat-form-field>
      </div>
      <button (click)="sendPerson()" class="btn btn-primary" type="submit">Submit</button>

    </form>
    <button (click)="getPerson()" type="button" class="btn btn-outline-info">Info</button>
</div>
